In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv(input())
df

example2.csv

             Name  Height       IQ Gender
0   Youngjeon Lee     174       no      M
1     Chaebin Lim     172      102      M
2     Eunsun Shim     160      102      F
3    Daewoong Kim     170      101      M
4        Sora Lee     159  no data      F
5      Kiyoon You     185      116      M
6      Youmin Kim     160      101      F
7      Doyeon Lee     157      102      F
8     Hyein Jeong     162      102      F
9     Soomin Kang     161       99      F
10    Hyemin Kwon     158      101      F
11    Jaeyeon Han     172       95      M
12      Andrew Ng     171      NaN      M

In [22]:
df['IQ'] = df['IQ'].str.extract('(\d+)')

In [23]:
R = int(df.IQ.isnull().sum() * 100 / len(df))
R

23

In [24]:
df.loc[df['IQ'].notnull(), 'IQ'] = df.loc[df['IQ'].notnull(), 'IQ'].astype(int)

In [25]:
df['IQ'] = df['IQ'].groupby(df['Gender']).apply(lambda x: x.fillna(int(x.mean())))

In [26]:
df['expectIQ'] = 0
df.loc[df['Gender'] == 'M', 'expectIQ'] = df['Height'] - 70
df.loc[df['Gender'] == 'F', 'expectIQ'] = df['Height'] - 60
df

             Name  Height   IQ Gender  expectIQ
0   Youngjeon Lee     174  103      M       104
1     Chaebin Lim     172  102      M       102
2     Eunsun Shim     160  102      F       100
3    Daewoong Kim     170  101      M       100
4        Sora Lee     159  101      F        99
5      Kiyoon You     185  116      M       115
6      Youmin Kim     160  101      F       100
7      Doyeon Lee     157  102      F        97
8     Hyein Jeong     162  102      F       102
9     Soomin Kang     161   99      F       101
10    Hyemin Kwon     158  101      F        98
11    Jaeyeon Han     172   95      M       102
12      Andrew Ng     171  103      M       101

In [27]:
E = int(sum(abs(df['expectIQ'] - df['IQ'])) / len(df))
E

2

In [28]:
H = int((((df['Gender'] == 'F') & df['Height'].between(158, 162, inclusive=True)) | ((df['Gender'] == 'M') & df['Height'].between(168, 172, inclusive=True))).sum() * 100 / len(df))
H

76

In [30]:
print(R, E, H)
print('GodHyeIn' if R > 25 or E > 5 or H > 50 else 'GodDaeWoong')

23 2 76
GodHyeIn